.root {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 14px;
}

.rootDesktop {
  display: flex;
  flex-direction: row;
}

.rootMobile {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow-y: auto;
}
